.vscode/**
.vscode-test/**
.idea/**
node_modules/**
src/**
.gitignore
.gitattributes
.yarnrc
esbuild.js
vsc-extension-quickstart.md
bun.lock
git-assistant-request.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
